---
import "../styles/global.css";
import Section from "@/components/section.astro";
import Skill from "@/components/skill.astro";
import Link from "@/components/link.astro";
import TimeRange from "@/components/time-range.astro";
import {
  GithubIcon,
  GlobeIcon,
  LinkedinIcon,
  MailIcon,
  PhoneIcon,
} from "lucide-react";
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Abdullah Ahmad — CV</title>
  </head>
  <body class="container max-w-2xl">
    <Section withSpacing={false}>
      <h1 class="text-2xl font-bold mb-3">Abdullah Ahmad</h1>
      <p class="mb-1">Web Developer and Software Tester</p>
      <p class="flex items-center gap-2 mb-4">
        <GlobeIcon className="size-4" />
        <span>Fayyum - Egypt</span>
      </p>
      <div class="flex gap-2 print:flex-col">
        <Link
          icon={MailIcon}
          href="mailto:bdocoder@gmail.com"
          ariaLabel="email"
        >
          bdocoder@gmail.com
        </Link>
        <Link icon={PhoneIcon} href="tel:+201001004759" ariaLabel="phone">
          +20 100 100 4759
        </Link>
        <!-- TODO: use non-deprecated icons -->
        <Link
          icon={GithubIcon}
          href="https://github.com/bdocoder"
          ariaLabel="github"
        />
        <Link
          icon={LinkedinIcon}
          href="https://linkedin.com/in/bdocoder"
          ariaLabel="linkedin"
        />
      </div>
    </Section>
    <Section title="Summary">
      <p>
        A fullstack developer proficient in JavaScript and its ecosystems,
        passionate about writing performant, maintainable code.
      </p>
    </Section>

    <Section title="Trainings and Internships">
      <TimeRange
        title="Software Testing at ITI"
        from="March 2025"
        to="July 2025"
      >
        <p>The internship included training and hands-on practice in:</p>
        <ul>
          <li>Linux</li>
          <li>Communication and Presentation Skills</li>
          <li>SQL Server</li>
          <li>Computer Networks and Operating Systems</li>
          <li>C, C++, and Java</li>
          <li>HTML and CSS</li>
          <li>Web and API Testing</li>
          <li>Test Case Design and Bug Report Writing</li>
        </ul>
      </TimeRange>

      <TimeRange
        title="Integration Engineering at TechHub"
        from="September 2024"
        to="November 2024"
      >
        <p>
          The training included a general background in servers and cloud
          computing, basic backend development with NodeJS and Loopback, and
          fundamentals of IBM MQ and AppConnect Enterprise Toolkit.
        </p>
      </TimeRange>
    </Section>

    <Section title="Courses">
      <ul class="font-mono">
        <li>Webflow 101 (Webflow University, August 2024)</li>
        <li>Webflow CMS & dynamic content (Webflow University, August 2024)</li>
        <li>Webflow SEO fundamentals (Webflow University, August 2024)</li>
        <li>MongoDB NodeJS Developer Path (MongoDB University, August 2024)</li>
        <li>Back-End Web Development with .NET (Linkedin, August 2024)</li>
      </ul>
    </Section>

    <Section title="Education">
      <TimeRange
        title="College of Science at Fayyum University"
        from="2019"
        to="2023"
      >
        Bachelor's degree in Mathematics and Computer Science
      </TimeRange>
    </Section>

    <Section title="Side Projects">
      <p>
        Code Critic — A simple bug tracker built with React, Remix, ShadcnUI,
        and MongoDB.
      </p>
      <p>
        My CV — This resume is written with Astro (a JS framework) and
        TailwindCSS. It is available on my GitHub profile with a script for
        automated PDF generation.
      </p>
    </Section>

    <Section title="Skills">
      <ul class="grid gap-1 font-mono">
        <li>
          Languages:
          <Skill>JS/TS</Skill>
          <Skill>Go</Skill>
          <Skill>Java</Skill>
        </li>
        <li>
          Frontend:
          <Skill>React/Next/Remix</Skill>
          <Skill>Vue</Skill>
          <Skill>TailwindCSS</Skill>
        </li>
        <li>
          Backend:
          <Skill>SQL</Skill>
          <Skill>MongoDB</Skill>
          <Skill>Node.js</Skill>
        </li>
        <li>
          Testing:
          <Skill>Selenium</Skill>
          <Skill>Playwright</Skill>
          <Skill>Postman</Skill>
        </li>
        <li>
          Tools/Other
          <Skill>Linux</Skill>
          <Skill>Git</Skill>
        </li>
      </ul>
    </Section>
  </body>
</html>
